BasedOnStyle: LLVM
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 100
IndentAccessModifiers: true
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: Inner
PointerAlignment: Left
TabWidth: 4
UseTab: Always
BreakBeforeBinaryOperators: NonAssignment
